<%- include('../partials/_base.ejs', {title: "Edit Transaction"}) %>

  <body class="parent-container">
    <div class="child-container edit">
      <div class="custom-nav"><%- include('../partials/_navbar.ejs') %></div>
      <div class="edit-nav">
        <h1 class="edit-title">Edit Transaction</h1>
      </div>
      <form action="/users/<%= user._id %>/transactions/<%= transaction._id %>?_method=PUT" method="post">
        <div class="form-field">
          <label for="date">Date</label>
          <input
            type="date"
            name="date"
            id="date"
            required
            value="<%= new Date(transaction.date).toISOString().slice(0, 10) %>"
          />
        </div>

        <div class="form-field">
          <label for="amount">Amount</label>
          <input
            type="number"
            name="amount"
            id="amount"
            min="0"
            max="10000"
            step="0.50"
            required
            value="<%= transaction.amount %>"
          />
        </div>

        <div class="form-field">
          <label for="category">Category</label>
          <select name="category" id="category" required>
            <option value="groceries" <%= transaction.category === "groceries" ? "selected": "" %>>Groceries</option>
            <option value="utilities" <%= transaction.category === "utilities" ? "selected": "" %>>Utilities</option>
            <option value="entertainment" <%= transaction.category === "entertainment" ? "selected": "" %>>Entertainment</option>
            <option value="clothing" <%= transaction.category === "clothing" ? "selected": "" %>>Clothing</option>
            <option value="gifts" <%= transaction.category === "gifts" ? "selected": "" %>>Gifts</option>
            <option value="misc" <%= transaction.category === "misc" ? "selected": "" %>>Misc</option>
          </select>
        </div>


        <div class="form-field">
          <label for="note">Note</label>
          <textarea name="note" id="note" maxlength="200"><%= transaction.note.trim() %></textarea>
        </div>

        <button id="edit-btn" type="submit">Update</button>
      </form>
    </div>
  </body>
</html>
