<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transactions</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Your Transactions</h1>
    <a href="/users/<%= user._id %>/transactions/new">Add Transaction</a>
    <ul>
      <% transactions.forEach((transaction) => { %>
      <li>
        <%= transaction.date %> | <%= transaction.amount %> | <%=
        transaction.category %> | <%= transaction.note %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
