<%- include('../partials/_base.ejs', {title: "Dashboard"}) %>

<body class="dashboard-parent">
  <div class="dashboard-navbar">
    <ul>
      <li><i class="fa-solid fa-table"></i></li>
      <li>
        <a
          id="add-transaction-link"
          href="/users/<%= user._id %>/transactions/new"
          ><i class="fa-solid fa-square-plus"></i
        ></a>
      </li>
      <li><i class="fa-solid fa-calendar"></i></li>
      <li><i class="fa-solid fa-database"></i></li>
      <li><i class="fa-solid fa-user"></i></li>
      <li><i class="fa-solid fa-gear"></i></li>
      <li>
        <a href="/auth/sign-out"
          ><i class="fa-solid fa-right-from-bracket"></i
        ></a>
      </li>
    </ul>
  </div>

  <div class="dashboard-summary">
    <!-- All Transactions -->
    <div class="transactions-container">
      <h1>Dashboard</h1>
      <div class="transactions-list">
        <h3>All Transactions</h3>
        <ul>
          <% let previousDate = null %>
          <!-- loop through and display the required fields -->
          <% transactions.forEach((transaction) => { %>
          <!-- store the transaction date in readable format -->
          <% const currentDate = new
          Date(transaction.date).toISOString().slice(0, 10) %>
          <!-- display date -->
          <% if (currentDate !== previousDate) { %>
          <li class="transaction-date"><%= currentDate %></li>
          <% previousDate = currentDate %> <% } %>
          <!-- display category and amount spend -->
          <div class="transaction-row">
            <li>
              <i class="fa-solid fa-wallet wallet"></i>
              <%= transaction.category[0].toUpperCase() +
              transaction.category.slice(1)%>
            </li>
            <li>$<%= transaction.amount %></li>
          </div>
          <% }) %>
        </ul>
      </div>
    </div>

    <div class="transaction-details">
      <!-- Expense Categories -->
      <div class="categories-container">
        <div class="category groceries">
          <p>Groceries</p>
          <p class="amount">$100.00</p>
        </div>
        <div class="category utilities">
          <p>Utilities</p>
          <p class="amount">$100.00</p>
        </div>
        <div class="category entertainment">
          <p>Entertainment</p>
          <p class="amount">$100.00</p>
        </div>
        <div class="category clothing">
          <p>Clothing</p>
          <p class="amount">$100.00</p>
        </div>
        <div class="category gifts">
          <p>Gifts</p>
          <p class="amount">$100.00</p>
        </div>
        <div class="category misc">
          <p>Misc</p>
          <p class="amount">$100.00</p>
        </div>
      </div>
      <!-- Visualization -->
      <div class="chart-container">Chart</div>
    </div>
  </div>
</body>
