<%- include('../partials/_base.ejs', {title: "Dashboard"}) %>

<body class="dashboard-parent">
  <!-- <%- include('../partials/_navbar.ejs') %> -->

  <div class="dashboard-navbar">
    <ul>
      <li><i class="fa-solid fa-table"></i></li>
      <li><i class="fa-solid fa-calendar"></i></li>
      <li><i class="fa-solid fa-database"></i></li>
      <li><i class="fa-solid fa-user"></i></li>
      <li><i class="fa-solid fa-gear"></i></li>
      <li>
        <a href="/auth/sign-out"
          ><i class="fa-solid fa-right-from-bracket"></i
        ></a>
      </li>
    </ul>
  </div>

  <div class="dashboard-summary">
    <h1>Dashboard</h1>
    <a href="/users/<%= user._id %>/transactions/new">Add Transaction</a>
    <ul>
      <% transactions.forEach((transaction) => { %>
      <a href="/users/<%= user._id %>/transactions/<%= transaction._id %>">
        <li><%= transaction.category %> | <%= transaction.amount %></li>
      </a>
      <% }) %>
    </ul>
  </div>
</body>
