<%- include('../partials/_base.ejs', {title: "Dashboard"}) %>

<body class="dashboard-parent">
  <div class="dashboard-navbar">
    <ul>
      <li><i class="fa-solid fa-table"></i></li>
      <li>
        <a
          id="add-transaction-link"
          href="/users/<%= user._id %>/transactions/new"
          ><i class="fa-solid fa-square-plus"></i
        ></a>
      </li>
      <li><i class="fa-solid fa-calendar"></i></li>
      <li><i class="fa-solid fa-database"></i></li>
      <li><i class="fa-solid fa-user"></i></li>
      <li><i class="fa-solid fa-gear"></i></li>
      <li>
        <a href="/auth/sign-out"
          ><i class="fa-solid fa-right-from-bracket"></i
        ></a>
      </li>
    </ul>
  </div>

  <div class="dashboard-summary">
    <!-- All Transactions -->
    <div class="transactions-container">
      <h1>Dashboard</h1>
      <p>All Transactions</p>
      <ul>
        <% transactions.forEach((transaction) => { %>
        <a href="/users/<%= user._id %>/transactions/<%= transaction._id %>">
          <li><%= transaction.category %> | <%= transaction.amount %></li>
        </a>
        <% }) %>
      </ul>
    </div>

    <div class="transaction-details">
      <!-- Expense Categories -->
      <div class="categories-container">Categories</div>
      <!-- Visualization -->
      <div class="chart-container">Chart</div>
    </div>
  </div>
</body>
