<%- include('../partials/_base.ejs', {title: "Dashboard"}) %>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body class="dashboard-parent">
  <div class="dashboard-navbar">
    <ul>
      <li><i class="fa-solid fa-table"></i></li>
      <li>
        <a id="add-transaction-link" href="/users/<%= user._id %>/transactions/new"><i class="fa-solid fa-square-plus"></i></a>
      </li>
      <li><i class="fa-solid fa-calendar"></i></li>
      <li><i class="fa-solid fa-database"></i></li>
      <li><i class="fa-solid fa-user"></i></li>
      <li><i class="fa-solid fa-gear"></i></li>
      <li>
        <a href="/auth/sign-out"><i class="fa-solid fa-right-from-bracket"></i></a>
      </li>
    </ul>
  </div>

  <div class="dashboard-summary">
    <!-- All Transactions -->
    <div class="transactions-container">
      <h1>Dashboard</h1>
      <div class="transactions-list">
        <h3>All Transactions</h3>
        <ul>
          <% let previousDate = null %>
          <!-- loop through and display the required fields -->
          <% transactions.forEach((transaction) => { %>
          <!-- store the transaction date in readable format -->
          <% const currentDate = new
          Date(transaction.date).toISOString().slice(0, 10) %>
          <!-- display date -->
          <% if (currentDate !== previousDate) { %>
          <a href="/users/<%= user._id %>/transactions/date/<%= currentDate %>">
            <li class="transaction-date"><%= currentDate %></li>
          </a>
          <% previousDate = currentDate %> <% } %>
          <!-- display category and amount spend -->
          <div class="transaction-row">
            <a href="/users/<%= user._id %>/transactions/<%= transaction._id %>">
              <li>
                <i class="fa-solid fa-wallet wallet"></i>
                <%= transaction.category[0].toUpperCase() +
                transaction.category.slice(1)%>
              </li>
              <li>$<%= transaction.amount.toFixed(2) %></li>
            </a>
          </div>
          <% }) %>
        </ul>
      </div>
    </div>

    <div class="transaction-details">
      <!-- Expense Categories -->
      <div class="categories-container">
        <div class="category groceries">
          <p>Groceries</p>
          <p class="amount">$100.00</p>
        </div>
        <div class="category utilities">
          <p>Utilities</p>
          <p class="amount">$100.00</p>
        </div>
        <div class="category entertainment">
          <p>Entertainment</p>
          <p class="amount">$100.00</p>
        </div>
        <div class="category clothing">
          <p>Clothing</p>
          <p class="amount">$100.00</p>
        </div>
        <div class="category gifts">
          <p>Gifts</p>
          <p class="amount">$100.00</p>
        </div>
        <div class="category misc">
          <p>Misc</p>
          <p class="amount">$100.00</p>
        </div>
      </div>
      <!-- Visualization -->
      <div class="chart-container">
        <canvas id="myPieChart" width="800" height="300"></canvas>
      </div>
    </div>
  </div>

  <!-- Script to create chart -->
  <script>
    const ctx = document.getElementById("myPieChart").getContext("2d");
    const labels = [
      "Groceries",
      "Utilities",
      "Entertainment",
      "Clothing",
      "Gifts",
      "Misc",
    ];
    const data = {
      labels: labels,
      datasets: [{
        label: " Total",
        data: [100, 50, 70, 30, 20, 40],
        backgroundColor: [
          "#C2E0D0",
          "#E0DEDE",
          "#FFE0D5",
          "#D3D3E0",
          "#FCE4EC",
          "#FFF5E0",
        ],
        hoverBackgroundColor: [
          "#A2C9B2",
          "#C7C1C1",
          "#FFD2BD",
          "#B3B3C6",
          "#F8C0C8",
          "#F0EBE0",
        ],
      }, ],
    };

    const plugin = {
      beforeInit(chart) {
        const origFit = chart.legend.fit;
        chart.legend.fit = function fit() {
          origFit.bind(chart.legend)();
          this.height += 15;
        };
      },
    };

    const config = {
      type: "pie",
      data: data,
      options: {
        responsive: false,
      },
      plugins: [plugin],
    };

    const myPieChart = new Chart(ctx, config);

    Chart.defaults.font = {
      size: 14,
      family: "Poppins, sans-serif",
    };
  </script>
</body>
