  <%- include('../partials/_base.ejs', {title: transaction.category[0].toUpperCase() +transaction.category.slice(1)}) %>

  <body class="parent-container">
    <div class="child-container show">
      <div class="custom-nav"><%- include('../partials/_navbar.ejs') %></div>
      <div class="show-nav">
        <h1 class="show-title"><%= transaction.category[0].toUpperCase() +transaction.category.slice(1) %></h1>
      </div>

      <table>
        <thead>
          <tr>
            <td>Date</td>
            <td>Amount</td>
            <td>Note</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <i class="fa-solid fa-wallet wallet-big"></i>
              <%= new Date(transaction.date).toISOString().slice(0, 10) %>
            </td>
            <td>$<%= transaction.amount.toFixed(2) %></td>
            <td><%= transaction.note ? transaction.note.trim().substring(0, 20) : "" %></td>
            <td>
              <a href="/users/<%= user._id %>/transactions/<%= transaction._id %>/edit">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
            </td>
            <td>
              <form action="/users/<%= user._id %>/transactions/<%= transaction._id %>?_method=DELETE" method="post">
                <button id="delete-transaction" type="submit"><i class="fa-solid fa-trash-can"></i></button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </body>

  </html>
