<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= transaction.category %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <ul>
      <li><%= transaction.date %></li>
      <li><%= transaction.amount %></li>
      <li><%= transaction.category %></li>
      <li><%= transaction.note %></li>
    </ul>
  </body>
</html>
